<div class="container">
    <header >
        

        <div fxFlex fxLayout="column" (scroll)="onScroll($event)">
            <div fxLayout="row">
                <!-- <app-navbar></app-navbar> -->
            </div>
            <div  class="row" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center center"  style="padding: 0 5%;">
                <div fxFlex="50">
                    <h3>SOCIAL MEDIA</h3>
                    <h1>FOR BUSINESS!</h1>
                    <p>PERFORMANCE BASED SICIAL MEDIA AGENCY WE ARE LOREM MEDIA</p>
                    <button class="btn">GET A FREE AUDIT</button>
                </div>
                <div fxFlex="50"><img src="../../assets/imgs/Group 1423.svg" alt="" width="100%" height="90%"></div>
            </div>
        </div>

    </header>
</div>
