.footer  {
    // background: url('../../assets/imgs/Mask\ Group\ 1.svg') no-repeat ;
    // background-size: cover;
    // height: 80vh;

    background-color: #1A129F;

    .mat-list-container {
        // margin: auto;

        mat-list-item {
            color: #ffffffcf;
            font-weight: bold;

            h1 {
                font-size: 2.3em;
            }
    
            mat-icon {
                padding-right: 1%;
            }
        }
        mat-list-item > span {
            font-size: 15px;
        }
    }
    
}
.sub-form {
    margin: 0 auto;
    padding: 5% 0;

    p {
        text-align: center;
    }

    .form-content {
        display: inline-flex;
        width: fit-content;

        input {
            font-family: 'Roboto', sans-serif;
            font-size: 1.2rem;
            padding: 0.5rem 1rem;
            border-radius: 8px;
            background-color: #b0b0b029; 
            border: none; 
            margin-right: 7px;
            transition: all 0.3s;
        }
        input::placeholder {
            font-size: .5em;
          }
        

        @media only screen and (max-width: 600px) {
            .btn {
                width: fit-content;
                margin-top: 3%;
            }
        }
    }
}


