.footer  {
    background: url('../../assets/imgs/Mask\ Group\ 1.svg') no-repeat;
    background-size: cover;
    height: 500px;
}
.sub-form {
    margin: 0 auto;
    padding: 5% 0;

    p {
        text-align: center;
    }

    .form-content {
        display: inline-flex;
        width: fit-content;

        input {
            font-family: 'Roboto', sans-serif;
            font-size: 1.2rem;
            padding: 0.5rem 1rem;
            border-radius: 8px;
            background-color: #b0b0b029; 
            border: none; 
            margin-right: 7px;
            transition: all 0.3s;
        }
        input::placeholder {
            font-size: .5em;
          }
        

        @media only screen and (max-width: 600px) {
            .btn {
                width: fit-content;
                margin-top: 3%;
            }
        }
    }
}

