.offers {
    background: url('../../assets/imgs/bgg.svg') no-repeat center bottom;
    background-size: cover;  
}
h2 {
    padding: 7% 5%;
}

mat-card {
    border-radius: 25px;
    flex-direction: column;
    // align-items: stretch;
    height: 100%;
    display: flex;

    .content {
        height: 100%;

        mat-card-header {
            width: fit-content;
        }
        mat-card-actions {
            padding: 0px 8%;
        }
        
        
    }
    
}