.offers {
    background: url('../../assets/imgs/bgg.svg') no-repeat center bottom;
    background-size: cover;

    .cell {
        display: flex;
        align-items: stretch;

        mat-card {
            border-radius: 25px;
        
                .card-img {
                    text-align: center;

                    img {
                        width: 20%;
                        margin: auto;
                    }
                }

                mat-card-actions {
                    text-align: center;
                    .btn {
                        height: 27px;
                        font-size: 0.5rem;
                        font-weight: 600;
                        padding: 0 6%;
                    }
                } 
        }
    }
}

