<section class="prices-section">
    <div fxFlex fxLayout="column" fxLayoutGap="10px" style="height:100vh; padding: 0 5%;">
        <h1 class="heading">Our Pricing</h1>
        <div fxLayout="row wrap" fxLayoutAlign="space-around center">
            <div fxFlex="30" fxFlex.md="30" fxFlex.sm="50" fxFlex.xs="100" fxLayout="column" style="padding: 3%;" *ngFor="let price of prices">

                <mat-card class="mat-elevation-z4" fxFlexAlign="stretch">
                    <div class="content">
                        <mat-card-header><h3>{{ price.type }}</h3></mat-card-header>
                    <mat-card-content>
                        <p>{{ price.description }}</p>
                        <h2> $ 140</h2>
                    </mat-card-content>
                    <mat-card-actions align="center">
                        <button class="btn">SEE Details</button>
                    </mat-card-actions>
                    </div>
                </mat-card>
            </div>
            
        </div>
    </div>

    
</section>
