.app-navbar{
    z-index: 100;
    position: absolute;
}
.app-header{
    right: 0;
}

.navbar {
    height: 100vh;
}
.mat-toolbar{
    // background: transparent;
    z-index: 100;
    position: absolute;
    
}
.mat-toolbar-row{
    padding-top: 30px;
    justify-content: space-around;
}
.mat-toolbar-multiple-rows {
    min-height: 85px;
}
.menu-item{
    &.white{
        color:#fff;
    }
    &.black{
        color: #000;
    }
}


  
.transparent {
    background: transparent;

}

.nontrans{
    background-color: white;

}

@media only screen and (max-width: 600px) {
    .logo {
      width: 50%;
    }
    .mat-toolbar-multiple-rows {
        min-height: 65px;
    }
    .mat-toolbar-row {
        padding-top: 15px;
    }
  }