/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body {
    height: 100%;
    box-sizing: border-box;
    margin: 0;

    .btn {
      background-color: #2326c1;
      cursor: pointer;
      outline: none;
      border: none;
      // margin-top: 3%;
      height: 35px;
      line-height: 1.2;
      border-radius: 30px;
      font-size: .75rem;
      font-weight: 300;
      padding: 0 7%;
      color: #ffffff;
      background-image: linear-gradient(to left,rgba(255 ,255 ,255, 0.3) 0%,rgba(0 ,0, 0, 0.3) 100%);
    }
}
